<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Yelp Camp!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css"/>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body class="darkBackground">

    <% if (problem.length > 0) { %>
    <div class="alert alert-warning">
        <%= problem %>
    </div>
    <%}%>

    <div class="container-fluid" id="landing-header">
        <h1 class="shadowed">Welcome To YelpCamp</h1>
        <a href="/campgrounds"><button class="btn btn-primary shadowed">See Campsites</button></a>
    </div>

    <style>
        .slideshow li {
            animation: imageAnimation <%=campgrounds.length*10%>s linear infinite
        }
        @keyframes imageAnimation {
            0% {
                opacity: 0;
                animation-timing-function: ease-in;
            }
            <%=(100/campgrounds.length)/2%>% {
                opacity: 1;
                animation-timing-function: ease-out;
            }
            <%=(100/campgrounds.length)%>% {
                opacity: 1;
            }
            <%=(100/campgrounds.length)+(100/campgrounds.length/2)%>% {
                opacity: 0;
            }
        }
    </style>

    <ul class="slideshow">
        <% campgrounds.forEach(function(campground, i) { %>
            <li 
            class="darkBackground"
            style="background-image: url('<%=campground.image%>'); animation-delay: <%= 10*i %>s;"></li>
        <% }); %>
    </ul>

<% include partials/footer %>